.item {
  display: flex;
<<<<<<< HEAD
  width: calc(100% - 20px);
  justify-content: space-between;
  align-items: center;
  border: 1px solid #c8d0dd;
  min-height: 40px;
  transition: all 0.5s ease-in-out;
  margin: 10px;
  padding: 0 0.5em;
  border-radius: 0.25em;

=======
  justify-content: center;
  border-bottom: 1px solid #c8d0dd;
  transition: all 0.5s ease-in-out;

  &:hover {
    //box-shadow: 9px 9px 16px #c8d0dd, -9px -9px 16px #f0f0f0;
  }
}

.item-content {
  display: flex;
  width: 100%;
  max-width: 500px;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
  transition: all 0.5s ease-in-out;
  padding: .5em 1em .5em .5em;
  border-radius: 0.25em;

  .list-nom {
    margin-right: 0.5em;
    padding: 0 0.5em;
    border-right: 2px solid #c8d0dd;
  }

>>>>>>> b5adb8d (redesign)
  p {
    width: 80%;
    max-width: 80%;
    height: auto;
    text-align: left;
    color: #052020;
<<<<<<< HEAD
  }

  .completed {
    opacity: 0.5;
    text-decoration: line-through;
  }

  &:hover {
    background: #e8f7f9;
    box-shadow: 9px 9px 16px #c8d0dd, -9px -9px 16px #f0f0f0;
  }
}
.completed {
  background-color: #eef2f7;
}

.delete-btn {
  background: center no-repeat url(./del.png);
  background-size: 100%;
  width: 25px;
  height: 25px;
  transition: all 0.5s ease-in-out;
  border: 0px solid #c8d0dd;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
input[type="checkbox"].custom-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 2em;
  height: 2em;
  outline: none;
  border: 1px solid #67959b;
  border-radius: 0.25em;
  cursor: pointer;
}
input[type="checkbox"]:checked.custom-checkbox {
  background: url(./checkbox-1.png) #e8f7f9;
  background-size: 100%;
  border: 0;
}
=======
    padding: 0 .5em;
    text-decoration: none;
    transition: opacity 1.5s ease-in-out;
    position: relative;
  }

  p:after {
    content: "";
    display: block;
    margin: 0 .5em;
    width: 0;
    text-align: center;
    height: 2px;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 0;
    background: #052020;
    transition: all .8s ease-in-out;
  }

  p.completed:after {
    width: 95%;
  }

  p.completed {
    opacity: 0.5;
    filter: blur(.4px);
    //text-decoration: line-through;
    transition: all 1.5s ease-in-out;
  }

  .delete-btn {
    width: 25px;
    height: 25px;
    transition: all 0.5s ease-in-out;
    border: 1px solid #052020;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .2;

    svg {
      fill: #052020;
      width: 25px;
      height: 25px;
      transition: all 0.5s ease-in-out;

      &:hover {
        fill: red;
      }
    }

    &:hover {
      cursor: pointer;
      border: red solid 1px;
      opacity: 1;
    }
  }

  .container {
    cursor: pointer;
    height: 25px;
    width: 25px;
  }

  .container input {
    display: none;
  }

  .container svg {
    overflow: visible;
    height: 25px;
    width: 25px;
  }

  .path {
    fill: none;
    stroke: #052020;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: all 0.8s ease;
    stroke-dasharray: 241 9999999;
    stroke-dashoffset: 0;
  }

  .container input:checked ~ svg .path {
    stroke-dasharray: 70 9999999;
    stroke-dashoffset: -260;
    stroke: green;
    stroke-width: 6;
  }

  .container input:hover ~ svg .path {
    stroke: green;
    stroke-width: 6;
  }
}

.completed {
  background-color: #f2f9f3;

  .delete-btn {
    opacity: 1;
  }
}

button {
  background: none;
}
>>>>>>> b5adb8d (redesign)
