.header-wrapper {
  background: #b2ebf2;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  width: 100%;
  display: flex;
  column-gap: 1em;
  justify-content: space-between;
  padding: 0.5em;
  transition: all 0.5s ease-in-out;

  * {
    padding: 0.5em;
    height: 40px;
  }
}
.input {
  width: 100%;
  font-size: 1em;
  border: 1px solid #c8d0dd;
  border-radius: 0.25em;
  user-select: none;

//   &:focus-visible, &:focus, &:active, &:target, &:focus-within, &:hover{
//     border: 1px solid #c8d0dd;
//     outline: 0;
//   }
}
.add-todo-btn {
  width: 40px;
  min-width: 40px;
  font-size: 1em;
  transition: all 0.5s ease-in-out;
  border: 1px solid #c8d0dd;
  border-radius: 0.25em;
  background: center / 100% no-repeat #fff url(./+.png);

  &:focus-visible, &:focus, &:active, &:target, &:focus-within, &:hover {
    background: center / 100% no-repeat #e8f7f9 url(./+.png);
    border: 1px solid #67959b;
    cursor: pointer;
  }
}
