.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  //padding-top: 1em;
}

.main-wrapper {
  border: 1px solid #b2ebf2;
  //max-width: 500px;
  width: 100%;
  background-color: #fcfafa;
  box-shadow: -10px -10px 30px 5px #fff, 10px 10px 30px 5px rgba(0, 0, 0, 0.16);
}
