.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
<<<<<<< HEAD
  padding-top: 1em;
=======
  //padding-top: 1em;
>>>>>>> b5adb8d (redesign)
}

.main-wrapper {
  border: 1px solid #b2ebf2;
<<<<<<< HEAD
  max-width: 500px;
=======
  //max-width: 500px;
>>>>>>> b5adb8d (redesign)
  width: 100%;
  background-color: #fcfafa;
  box-shadow: -10px -10px 30px 5px #fff, 10px 10px 30px 5px rgba(0, 0, 0, 0.16);
}
